body {
    background: #33DAFF;
    font-family:Arial, Helvetica, sans-serif;
}

.assignments{
    display:flex;
    flex-wrap:wrap;
}

.assignment{
    width:22%;
    padding:10px;
    margin:10px;
    padding:20px 10;
    background: #FFFFE0;
    border-radius:15px;
    

}

.assignment img{
    width: 200px;
    margin: 10px;
    border: 4px solid #20B2AA;
    display:block;
    margin:auto;
}

.assignment img {
    border: 4px solid #FFF;
}

h1 {
    color: hotpink;
    text-align:center;
}

h2 {
    text-align:center;
}

a {
    text-decoration:none;
    color: #20B2AA;
}

a:hover {
    color: blue;
}